body {
    background-image: url(./Images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    margin-left: 26rem;
    margin-top: 9rem;
    background-image: url(/Images/images.jpg);
    position: absolute;
    width: 540px;
    height: 266px;
}

form {
    position: relative;
    padding-left: 21px;
}

#select {
    background-color: darkturquoise;
    width: 122px;
    margin-left: 20%;
}